<style>
   div {
    -moz-user-select: none;
  }

  .scan-barcode div {
    padding-left: 10px;
  }

  .description {
    float: left;
    width: 65%;
    margin-left: 10px;
  }

  .menu-buttons {
    padding: 10px;
    float: right;
    width: 30%;
    margin-right: 10px;
  }

  .menu-buttons a {
    width: 95%;
    line-height: 50px;
  }

  .buttons { /*
    background-color: grey;                                                     
    border-bottom: 1px outset #EEEEEE;                                          
    border-style: outset;                                                       
    border-top: 1px outset #EEEEEE;                                             
    color: white;                                                               
    display: block;                                                             
    padding: 10px;                                               
    text-align: center;                                                         
    text-decoration: none;


    background-color: rgb(0, 116, 204);
    background-image: -moz-linear-gradient(center top , rgb(0, 136, 204), rgb(0, 85, 204));
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);

    font-size: 1.3em; */
  }


</style>


<!--div class="scan-barcode">
  <form id='barcodeForm' action="/find_by_barcode">                               
    <%#= text_field_tag :barcode, '', {:id => 'barcode', :class => 'touchscreenTextInput' } %>
    <%#= submit_tag "Submit", :style => "display:none" %>                        
    <div style="color:gray">scan a barcode</div>                                
  </form>
</div-->


<div class="main-container">

  <div class="description">
    <div class="page-header">                                                     
      <h1><%=organization_name %> <small>inventory system</small></h1>            
    </div>                                                                        
                                                                                
                                                                                
    <div id = "description-content">                                                     
      <%=render(:inline => print_content(about_organization))%>                   
    </div>
  </div>

  <div class="menu-buttons">
    <p>                                                                           
      <%= link_to "assets", '/assets', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "dispatch asset(s)", '/batch_dispatch', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "transfer asset(s)", '/batch_transfer', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "reimburse asset(s)", '/borrowed_assets', :class => 'buttons' %>
    </p>

    <!--p>                                                                           
      <%= link_to "projects", '/projects', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "donors", '/donors', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "suppliers", '/suppliers', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "manufactures", '/manufacturers', :class => 'buttons' %>
    </p>

    <p>                                                                           
      <%= link_to "reports", '/reports', :class => 'buttons' %>
    </p-->


  </div>

</div>
