<%#= javascript_include_tag "bootstrap-datepicker" %>
<%#= stylesheet_link_tag "datepicker" %>

<style>
  .content-details { text-align: center; }                                                                          

  .asset-details { width: 100%; }                                                                          

</style>


<script>

function submitForm() {                                                         
  if(validateForm())                                                            
    document.getElementsByTagName('form')[0].submit();                          
                                                                                
}                                                                               
                                                                                
function validateForm(){                                                        
  project_name = document.getElementById('project_name');                      
  project = document.getElementById('project_donor');                      

  if(project_name.value == '') {                                                     
    alert("Please enter project name ...");                                     
    return false;                                                             
  }else if(project.value == 'Select donor') {                                                     
    alert("Please select a project donor ...");                                     
    return false;   
  }
                                                            
  return true;                                                                  
}  

</script>



<div class="page-header">
  <h1>project <small>create a project</small></h1>
</div>

<siection id='modals'>                                              
  <div class="content-details">
  <div>                                                                         
    <%if flash[:notice]%>                                                       
      <font id="flash_notice" style="color: green;"><%= flash[:notice] %></font><br />
    <%elsif flash[:error]%>                                                     
      <font id="flash_notice" style="color: red;"><%= flash[:notice] %></font><br />
    <%end%>                                                                     
  </div> 
  <%= form_tag :action => 'edit_project_details', :method => :post  do %>

  <table class="asset-details">                                              
  <tbody>                                                                       
    <tr>                                                                        
      <td>&nbsp;</td>                                                           
    </tr>                                                                       
    <tr>                                                                        
      <td><%=text_field(:project, :name, :placeholder => "Name",:value => @project.name) %> </td>
    </tr>                                                                       
    <tr>                                                                        
      <td>
        <%= select_tag "project[donor]", 
          options_for_select(@donors),
          :placeholder => "Select donor" %>
      </td>   
    </tr>                                                                       
    <tr>                                                                        
      <td><hr /></td>   
    </tr>                                                                       
    <tr>                                                                        
      <td><%=text_area_tag("project[description]", nil, 
        :placeholder => "Description",:value => @project.description) %></td>
    </tr>                                                                       
    <tr>                                                                        
      <td><hr /></td>   
    </tr>                                                                       
    <tr>                                                                        
      <td>                                                                      
        <input onclick="submitForm();" type="button" id="signup" 
          class="btn btn-primary signup_btn" value="Update" style="width:100%;" />
      </td>                                                                     
    </tr>                                                                       
    <tr>                                                                        
      <td><hr /></td>   
    </tr>                                                                       
  </tbody>                                                                      
 </table>
 <input type='hidden' name='id' value="<%=@project.id%>" />                      
 <%end%>
</div>                                                      
</section> 

