<style>
</style>


<script>
tt_cancel_destination = '/projects'
</script>



<siection id='modals'>                                              
  <div class="content-details">
  <div>                                                                         
    <%if flash[:notice]%>                                                       
      <font id="flash_notice" style="color: green;"><%= flash[:notice] %></font><br />
    <%elsif flash[:error]%>                                                     
      <font id="flash_notice" style="color: red;"><%= flash[:notice] %></font><br />
    <%end%>                                                                     
  </div> 
  <%= form_tag :action => 'create', :method => :post  do %>

  <table class="asset-details">                                              
  <tbody>                                                                       
    <tr>                                                                        
      <td><%=text_field(:project, :name, :helpText => "Name") %> </td>
    </tr>                                                                       
    <tr>                                                                        
      <td>
        <%= select_tag "project[donor]", 
          options_for_select(@donors),
          :placeholder => "Select donor" %>
      </td>   
    </tr>                                                                       
    <tr>                                                                        
      <td><%=text_area_tag("project[description]", nil, :helpText => "Description") %></td>
    </tr>                                                                       
  </tbody>                                                                      
 </table>
                      
 <%end%>
</div>                                                      
</section> 

