
<style>

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {                                                           
    background: none repeat scroll 0 0 rgb(255, 235, 144);                      
    height: auto;                                                               
    border: 1px dotted #696969;                                                 
  }                                                                             
                                                                                
  #sub-content-view hr {                                                        
    margin-left: 12px;                                                          
    margin-right: 12px;                                                         
    -moz-box-sizing: border-box;                                                
    -moz-float-edge: margin-box;                                                
    border: 1px inset;                                                          
    color: gray;                                                                
    display: block;                                                             
    height: 2px;                                                                
    /*margin: 0.5em auto;*/                                                     
  }

  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 11px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 11px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}
</style>


<div class="page-header">
  <h1>project <small>details</small></h1>
</div>

<section id='modals'>                                              

    <div id = "sub-content-view">

    <table class = "demographics">
      <tr>
        <th>Name:&nbsp;</th>
        <td>
          <%= @project.name %>&nbsp;
          <%= @student.first_name rescue '' %>
        </td>
        <th>Donor:&nbsp;</th><td><%=@donor.name%></td>
      </tr>
        <th>Date registered:&nbsp;</th><td><%=@project.created_at.strftime('%A, %d %B %Y')%></td>
      </tr>
    </table>

    <hr />

    <p class="xool_information"><strong>Project description</strong></p>
    <p class="xool_information">
    <%=render(:inline => print_content(@project.description))%> 
    </p>
  </div>
  
  <div style="padding-top:10px;float:right;">                                   
    <table>                                                                     
      <tr><%if admin? %>                                                        
        <td><a href="<%=edit_project_details_url(:id => @project.id)%>">Edit</a>&nbsp;&nbsp;</td>
        <td><a href="<%=delete_project_url(:id => @project.id)%>">Delete</a>&nbsp;&nbsp;</td>
        <%end%>                                                                 
        <td><a href="/asset_search">Back</a></td>                               
      </tr>                                                                     
    </table>                                                                    
  </div>

</section> 




