<script>
  tt_cancel_destination = '/';
</script>

<style>

</style>

<div class="page-header">
  <h1><%=organization_name %> <small>inventory system</small></h1>
</div>

<div id = "image-logo">
<%= image_tag("keys.png" ,:id => "keys")%>
</div>
<%= form_tag :controller => 'user', :action => 'login', :method => :post do %>
<table>
  <tr>
    <td><%=text_field(:user, :username, :textCase => "lower",:placeholder => "username", :helpText => "Enter Username") %></td>
  </tr>
  <tr>
    <td>
      <%=password_field(:user, :password, :textCase => "lower",
      :placeholder => "password", :style => "width: 99%;", :helpText => "Enter Password") %>
      <%= submit_tag "Login" ,:class => "btn btn-primary" , :style => "position: relative;top: -5px;"%>
    </td>
  </tr>
</table>
<%end%>
