<style>
  .main-links { display: none !important; }

  .brand-name { display: inline; }                                              
                                                                                
  #image-logo {                                                                 
    position: relative;                                                         
    float: left;                                                                
    width: 22%;                                                                 
    height:385px;                                                               
    padding-top: 15px;                                                          
  }  

</style>

<div class="container">                                                   
  <div class="page-header">                                               
    <h1><%=organization_name %> <small>inventory system</small></h1>
  </div>                                                                  

<div id = "image-logo">                                                 
<%= image_tag("keys.png" ,:id => "keys")%>                              
</div>
<table>                                                                 
  <tr>                                                                  
    <td><%=text_field(:user, :username, :textCase => "lower",:placeholder => "username") %></td>
  </tr>                                                                 
  <tr>                                                                  
    <td>                                                                
      <%=password_field(:user, :password, :textCase => "lower",         
      :placeholder => "password", :style => "width: 155px;") %>         
      <%= submit_tag "Login" ,:class => "btn btn-primary" , :style => "position: relative;top: -5px;"%>
    </td>                                                               
  </tr>                                                                 
</table>                                                                
</div>
