<style>

   div {
    -moz-user-select: none;
  }


  .buttons {
    padding: 10px;
    float: right;
    width: 200px;
    height: 52px;
    margin-right: 10px;
  }

  .elements label {
    width: 40%;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  .elements {
    width: 100%;
  }

  .element_left {
    float: left;
    width: 49%;
  }

  .element_right {
    float: right;
    width: 49%;
  }

  td {
    border-style: solid;
    border-width: 0px 0px 1px;
  }

  .element_content {
    /*overflow: auto;
    height: 550px;*/
  }

</style>

<script>

  function editAttribute(parameter) {
    document.location = "/assets/tedit?id=<%=@asset[:asset_id]%>&par=" + parameter;
  }

  function setCancelButton() {
    element = document.getElementById('nav');
    element.innerHTML = '<img alt="Okay" onclick="gotBack();" src="/assets/okay.jpeg" style="margin-right: 20px; margin-top: 10px; cursor: pointer; float: right;" height="65" />';
  }

  function gotBack() {
    document.location = "/asset_details/<%=@asset[:asset_id]%>";
  }

  setTimeout("setCancelButton();", 500);
</script>


<div class="element_content">

<div class="element_left">
<% @fields[0..8].each do |name,attr|%>
<table class="elements">
  <tr>
    <td><label><%= name %></label></td>
    <td><button class="buttons" onmousedown="editAttribute('<%=attr%>')">Edit</button></td>
  </tr>
</table>
<%end%>
</div>

<div class="element_right">
<% @fields[9..-1].each do |name,attr|%>
<table class="elements">
  <tr>
    <td><label><%= name %></label></td>
    <td><button class="buttons" onmousedown="editAttribute('<%=attr%>')">Edit</button></td>
  </tr>
</table>
<%end%>
</div>

</div>

