
<style>
/*
  .tt_controls_lifespan_in_years #num, #char, #qwerty, #plus, #apostrophe, #star,
      #Unknown, #abc, #date, #slash, #minus, #comma, #percent, #decimal {
    display: none;
  }

  .tt_controls_qauntity #num, #char, #qwerty, #plus, #apostrophe, #star, #abc,
      #Unknown, #date, #slash, #minus, #comma, #percent, #decimal {
    display: none;
  }
*/
  .tt_controls_cost #decimal {
    display: inline;
  }


</style>


<script>

tt_cancel_destination = '/assets'

function checkSerialNumber() {
    var serial_num = $('touchscreenInput'+tstCurrentPage);
    alert(serial_num);
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }else{// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          var results = xmlhttp.responseText;
          if(results == 'false') {
            return false;
          }else{
            return true;
          }
        }
      }
      xmlhttp.open("GET","/validate_serial_number/" + serial_num,true);
      xmlhttp.send();
    }

function getSerialNumber() {
    var serial_num = $('touchscreenInput'+tstCurrentPage);

    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }else{// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          var results = xmlhttp.responseText;
          if(results) {
            serial_num.value = results;
          }
        }
      }
      xmlhttp.open("GET","/serial_number_generator",true);
      xmlhttp.send();
    }

  function deliveredBySuggestions() {
    url = "/assets/find_by_delivered_by?search_str=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
    listSuggestions(tstCurrentPage);
  }

  function nameSuggestions() {
    url = "/assets/find_by_name?search_str=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
    listSuggestions(tstCurrentPage);
  }

  function modelSuggestions() {
    url = "/assets/find_by_model?search_str=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
    listSuggestions(tstCurrentPage);
  }

  function versionSuggestions() {
    url = "/assets/find_by_model?search_str=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
    listSuggestions(tstCurrentPage);
  }

  function setButton() {
    var serialNum = '<button id="sButton" class="button red navButton" style="display: block;" ';
    serialNum += 'onmousedown="getSerialNumber();"><span>Generate serial number</span></button>';
    $('buttons').innerHTML += serialNum;
  }

  function removeButton() {
    var serialNum = '<button id="sButton" class="button red navButton" style="display: block;" ';
    serialNum += 'onmousedown="getSerialNumber();"><span>Generate serial number</span></button>';
    $('buttons').innerHTML =  $('buttons').innerHTML.replace(serialNum,'');
  }

  function checkForBarcode(){
    if (!check_for_barcode)
      return;

    barcode_element = document.getElementById("touchscreenInput"+tstCurrentPage);
    barcode_element.focus();

    if (barcode_element.value.match(/.+\$$/i) != null){
      valid_scan = barcode_element.value.substring(0,barcode_element.value.length-1)
      if (valid_scan.length > 0) {
        barcode_element.value = barcode_element.value.substring(0,(barcode_element.value.length - 1));
        gotoNextPage();
      }
    }
  }

  function setFocus(element) {
    check_for_barcode = true;
  }

  function removesetFocus(element) {
    check_for_barcode = false;
  }

  var check_for_barcode = false;
  window.setInterval("checkForBarcode()", 800);
</script>


<div class="page-header">
  <h1>assets <small>register an asset</small></h1>
</div>

<section id='modals'>
  <div class="content-details">
  <%= form_tag :action => 'create', :method => :post  do %>

  <table class="asset-details">
  <tbody>
    <tr>
      <td><%=text_field(:asset, :name,
        :tt_onLoad => 'nameSuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '',:helpText => "Name") %> </td>
    </tr>
    <tr>
      <td><%=text_field(:asset, :serial_num,:tt_onLoad => "setButton();setFocus(this);",:id => 'serial_num',
        :helpText => "Serial number", :textCase => "upper",
        :validationJS =>"checkSerialNumber()",
        :tt_onUnLoad => "removeButton();removesetFocus(this);") %>
    </tr>
    <tr>
      <td><%=text_field(:asset, :model ,
        :tt_onLoad => 'modelSuggestions();', :allowFreeText => true ,
        :ajaxURL => '', :helpText => "Model",:id => 'asset_model') %> </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "asset[category]", options_for_select(@categories),
          :helpText => "Category" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "asset[manufacturer]", options_for_select(@manufacturers),
          :helpText => "Manufacturer" %>
      </td>
    </tr>
    <tr>
      <td><%=text_field(:asset, :lifespan ,:tt_pageStyleClass => "Numeric NumbersOnly",
        :field_type => 'number',:helpText => "Lifespan in years", :id =>'lifespan' ) %> </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "work[project]", options_for_select(@projects),
          :helpText => "Project" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "work[donor]", options_for_select(@donors),
          :helpText => "Donor" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "vendor[supplier]", options_for_select(@suppliers),
          :helpText => "Supplier" %>
      </td>
    </tr>
    <tr>
      <td><%=text_field(:vendor, :invoice_num, :helpText => "Invoice number",:id => 'invoice_num') %> </td>
    </tr>
    <tr>
      <td><%=text_field(:vendor, :date_of_invoice, :id =>'invoice_date' ,
          :helpText => "Invoice date", :field_type => 'date',
          :maxDate => "#{Date.today.to_date}") %> </td>
    </tr>
    <tr>
      <td><%=text_field(:vendor, :quantity, :field_type => 'number',:min => 1 ,:id => 'quantity',
          :tt_pageStyleClass => "Numeric NumbersOnly", :helpText => "Quantity") %> </td>
    </tr>
    <tr>
      <td><%=text_field(:vendor, :cost, :helpText => "Cost", :absoluteMin => 1,:id => 'cost',
        :field_type => 'number',:tt_pageStyleClass => "Numeric NumbersOnly") %>

        <%= select_tag "vendor[currency]", options_for_select(@currencies),
          :helpText => "Select currency" %>
      </td>
    </tr>
    <tr>
      <td><hr /></td>
    </tr>
    <tr>
      <td><%=text_field(:organisation, :receipt_date, :id => 'receipt_date',
          :helpText => "Date of receipt",:field_type => 'date',
          :maxDate => "#{Date.today.to_date}") %>
      </td>
    </tr>
    <tr>
      <td><%=text_field(:organisation, :delivered_by,
        :tt_onLoad => 'deliveredBySuggestions();',
        :allowFreeText => true , :id => 'delivered_by',
        :ajaxURL => '',:helpText => "Delivered by") %> </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "organisation[delivery_status]", options_for_select(@status),
          :helpText => "Delivery status" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "organisation[current_status]", options_for_select(@status),
          :helpText => "Current status" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "organisation[location]", options_for_select(@location),
          :helpText => "Select store room location"%>
      </td>
    </tr>
    <tr>
      <td>
           <%= text_field_tag :summary, nil,
            { :tt_onLoad => "summary();__$('keyboard').style.display = 'none';",
            :tt_onUnLoad => "enableFinishButton();" ,:optional => "true",
            :tt_pageStyleClass   => "NoControls" } %>
      </td>
    </tr>
  </tbody>
 </table>

 <%end%>
</div>
</section>

<script>
function disableFinishButton() {
  document.getElementById('nextButton').disabled = true;
}

function enableFinishButton() {
  document.getElementById('nextButton').disabled = false;
}

function summary() {

  var values = getValues();
  var display = "<div><span class='title'><h3><b>Summary of enetered attributes:</b></h3></span></div>";
  var display = "<div><hr /></div>";
  for(var i = 0; i < values.length; i++){
    display += "<div><span class='title'>" + values[i][0] + ": " +  values[i][1] + "</span></div>";
    if(values[i][1].length < 1)
      disableFinishButton();

  }

  $('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + display + '</div>' ;
  $("clearButton").style.display = "none";
}

function getValues() {
  var values = []
  values.push(['Name', document.getElementById('asset_name').value]);
  values.push(['Serial number', document.getElementById('serial_num').value]);
  values.push(['Model', document.getElementById('asset_model').value]);
  //values.push(['Version', document.getElementById('version').value]);
  values.push(['Category', document.getElementById('asset_category').value]);


  values.push(['Manufacturer', available_manufacturers[document.getElementById('asset_manufacturer').value]]);
  values.push(['Lifespan', document.getElementById('lifespan').value]);
  values.push(['Project', available_projects[document.getElementById('work_project').value]]);
  values.push(['Donor', available_donors[document.getElementById('work_donor').value]]);
  values.push(['Supplier', available_suppliers[document.getElementById('vendor_supplier').value]]);
  values.push(['Invoice number', document.getElementById('invoice_num').value]);

  values.push(['Invoice date', document.getElementById('invoice_date').value]);
  values.push(['Quantity', document.getElementById('quantity').value]);
  values.push(['Cost', document.getElementById('cost').value]);
  values.push(['Currency', available_currencies[document.getElementById('vendor_currency').value]]);
  values.push(['Receipt date', document.getElementById('receipt_date').value]);
  values.push(['Delivery status', available_status[document.getElementById('organisation_delivery_status').value]]);
  values.push(['Current status', available_status[document.getElementById('organisation_current_status').value]]);

  return values;
}

var available_status = {};
var available_manufacturers = {};
var available_projects = {};
var available_donors  = {};
var available_suppliers = {};
var available_currencies = {};
var available_categories = {};
var available_locations = {};

<%@status.each do |name, id|%>
  available_status[<%=id%>] = "<%=name%>"
<%end%>

<%@categories.each do |name, id|%>
  available_categories[<%=id%>] = "<%=name%>"
<%end%>

<%@manufacturers.each do |name, id|%>
  available_manufacturers[<%=id%>] = "<%=name%>"
<%end%>

<%@projects.each do |name, id|%>
  available_projects[<%=id%>] = "<%=name%>"
<%end%>

<%@donors.each do |name, id|%>
  available_donors[<%=id%>] = "<%=name%>"
<%end%>

<%@suppliers.each do |name, id|%>
  available_suppliers[<%=id%>] = "<%=name%>"
<%end%>

<%@location.each do |name, id|%>
  available_locations[<%=id%>] = "<%=name%>"
<%end%>

<%@currencies.each do |name, id|%>
  available_currencies[<%=id%>] = "<%=name%>"
<%end%>




</script>

<style>
  #summary {
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }
