
<style>
</style>


<script>
  tt_cancel_destination = '/assets'
</script>



<siection id='modals'>                                              
  <div class="content-details">
    <%if flash[:notice]%>                                                       
      <font id="flash_notice" style="color: green;"><%= flash[:notice] %></font><br />
    <%elsif flash[:error]%>                                                     
      <font id="flash_notice" style="color: red;"><%= flash[:notice] %></font><br />
    <%end%>                                                                     
  </div>
  <%= form_tag :action => 'create_state', :method => :post  do %>

  <table class="asset-details">                                              
  <tbody>                                                                       
    <tr>                                                                        
      <td><%=text_field(:state, :name, :helpText => "Name") %> </td>
    </tr>                                                                       
    <tr>                                                                        
      <td><%=text_area_tag("state[description]", nil, :helpText => "Description") %></td>
    </tr>                                                                       
  </tbody>                                                                      
 </table>
                      
 <%end%>
</div>                                                      
</section> 

