<style>

.suggestion_results {
  margin: 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
 }

.suggestion-container {
  overflow: auto; 
  height: 526px;
}

.suggestions {
  width: 100%;
}

.suggestions th {
  padding-left: 5px;
  text-align: left;
}

.suggestions td {
  text-align: left;
}

.table-header {
  text-align: left;
}

.buttons {
  width: 90% !important;
}

</style>

<script>

function selectAsset(id) {
  <%if params[:dispatching] == 'true'%>
    document.location = "/find_asset_to_dispatch_by_barcode?barcode=" + id;
  <%elsif not params[:reimbursing].blank?%>
    document.location = "/find_asset_to_dispatch_by_barcode?barcode=" + id + "&reimbursing=<%=params[:reimbursing]%>";
  <%else%>
    document.location = "/asset_details/" + id;
  <%end%>
}

</script>

<br />

<div class="suggestion-container menu-buttons">
<%
  color = 'white'
  (@assets || []).each do |asset|
    if color == 'white'
      color = 'lightgray'
    else
      color = 'white'
    end

    if params[:dispatching] == 'true'
      id = asset[:serial_number]
    elsif not params[:reimbursing].blank?
      id = asset[:serial_number]
    else
      id = asset[:asset_id]
    end
%>
<div class="suggestion_results">
  <a href="javascript:selectAsset('<%=id%>');" class='buttons'>
  <table class="suggestions strip_<%=color%>">
    <tr>
      <th>Name:</th><td><%=asset[:name]%></td>
      <th>Category:</th><td><%=asset[:category]%></td>
    </tr>
    <tr>
      <th>Model:</th><td><%=asset[:model]%></td>
      <th>Serial number:</th><td><%=asset[:serial_number]%></td>
    </tr>
  </table></a>
</div>
<%end%>

</div>

