<style>

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {
    background: none repeat scroll 0 0 rgb(255, 235, 144);
    height: auto;
    border: 1px dotted #696969;
  }

  #sub-content-view hr {
    margin-left: 12px;
    margin-right: 12px; 
    -moz-box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    /*margin: 0.5em auto;*/
  }


  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 20px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 18px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}

.admin-buttons td {
  line-height: 40px;
}

.admin-buttons table {
  width: 98%;
  margin: 5px;
}

.admin-buttons a {
}

</style>

  <div class="well sidebar-nav">

    <div id = "sub-content-view">

    <table class = "demographics">
      <tr>
        <th>Category:&nbsp;</th>
        <td>
          <%= @asset[:category] %>
        </td>
        <th>Version:&nbsp;</th><td><%=@asset[:version]%></td>
      </tr>
        <th>Model:&nbsp;</td><td><%=@asset[:model]%></td>
        <th>Serial number:&nbsp;</th><td><%=@asset[:serial_number]%></td>
      </tr>
      <tr>
        <th>Project:&nbsp;</th><td><%=@asset[:project]%></td>
        <th>Donor:&nbsp;</th><td><%=@asset[:donor]%></td>
      </tr>
      <tr>
        <th>Supplierxx:&nbsp;</th><td><%=@asset[:supplier]%></td>
        <th>Receipt date:&nbsp;</th><td><%=@asset[:date_of_receipt]%></td>
      </tr>
    </table>

    <hr />

    <table class="xool_information">
      <tr>
        <td style="font-weight:bold;">Order/Invoice number:&nbsp;</td><td><%=@asset[:order_number]%></td>
        <td colspan="2">&nbsp;</td>
        <td style="font-weight:bold;text-align:right;">Purchased date&nbsp;</td><td><%=@asset[:purchased_date]%></td>
        <td style="font-weight:bold;text-align:right;">Cost:&nbsp;</td><td><%=@asset[:cost]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Bought in quantity:&nbsp;</td><td><%=@asset[:bought_quantity]%></td>
        <td colspan="2">&nbsp;</td>
        <td style="font-weight:bold;text-align:right;">Current quantity:&nbsp;</td><td><%=@asset[:current_quantity]%></td>
        <td style="font-weight:bold;text-align:right;">Delivered by:&nbsp;</td><td><%=@asset[:delivered_by]%></td>
      </tr>                     
      <tr>                     
        <td style="font-weight:bold;text-align:left;">Expiry date:&nbsp;</td>
        <td><%= @asset[:expiry_date].to_date.strftime('%d %B, %Y') rescue 'N/A'%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Status on delivery&nbsp;</td><td><%=@asset[:status_on_delivery]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Current state&nbsp;</td>
        <td>
           <%@status.unshift(@asset[:current_state]) %>                          
              <%= select_tag "asset[status]", options_for_select(@status),
              :placeholder => "Delivery status" %>                                  
        </td> 
      </tr>                     
    </table>                                                                     


  </div>
  
  </div>

  <div class="admin-buttons">
    <%if admin? %>                                                          
    <table>
      <tr> 
        <td><a class="buttons" href="<%=dispatch_url(:id => @asset[:asset_id])%>">Dispatch</a></td>
        <td><a class="buttons" href="<%=receive_url(:id => @asset[:asset_id])%>">Receive</a></td>
        <td><a class="buttons" href="<%=transfer_url(:id => @asset[:asset_id])%>">Transfer</a></td>
      </tr> 
      <tr>
        <td><a class="buttons" href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Edit</a></td>
        <td><a class="buttons" href="<%=delete_asset_url(:id => @asset[:asset_id])%>">Delete</a></td>                               
        <td><a class="buttons" href="/print_asset_barcode/<%=@asset[:asset_id]%>">Barcode (print)</a></td>                               
      </tr> 
    </table>
    <%end%>                                                                   
  </div>

