<style>

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {
    background: none repeat scroll 0 0 rgb(255, 235, 144);
    height: auto;
    border: 1px dotted #696969;
  }

  #sub-content-view hr {
    margin-left: 12px;
    margin-right: 12px; 
    -moz-box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    /*margin: 0.5em auto;*/
  }


  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 11px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 11px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}

.admin-buttons td {
}

.admin-buttons table {
  width: 95%;
  margin: 5px;
}

.admin-buttons a {
  background-color: grey;                                                     
  border-bottom: 1px outset #EEEEEE;                                          
  border-style: outset;                                                       
  border-top: 1px outset #EEEEEE;                                             
  color: white;                                                               
  display: block;                                                             
  padding: 10px;                                                              
  text-align: center;                                                         
  text-decoration: none;                                                      
                                                                              
                                                                              
  background-color: rgb(0, 116, 204);                                         
  background-image: -moz-linear-gradient(center top , rgb(0, 136, 204), rgb(0, 85, 204));
  background-repeat: repeat-x;                                                
  border-bottom-color: rgba(0, 0, 0, 0.25);                                   
  border-left-color-ltr-source: physical;                                     
  border-left-color-rtl-source: physical;                                     
  border-left-color-value: rgba(0, 0, 0, 0.1);                                
  border-right-color-ltr-source: physical;                                    
  border-right-color-rtl-source: physical;                                    
  border-right-color-value: rgba(0, 0, 0, 0.1);                               
  border-top-color: rgba(0, 0, 0, 0.1);                                       
                                                                              
  font-size: 1.3em;                                                           
  width: 95%; 
}

</style>

  <div class="page-header">                                                       
    <h1>asset <small>details</small></h1>                                         
  </div> 

  <div class="well sidebar-nav">

    <div id = "sub-content-view">

    <table class = "demographics">
      <tr>
        <th>Name:&nbsp;</th>
        <td>
          <%= @asset[:name] %>&nbsp;
          <%= @asset[:category] %>
        </td>
        <th>Version:&nbsp;</th><td><%=@asset[:version]%></td>
      </tr>
        <th>Model:&nbsp;</td><td><%=@asset[:model]%></td>
        <th>Serial number:&nbsp;</th><td><%=@asset[:serial_number]%></td>
      </tr>
      <tr>
        <th>Project:&nbsp;</th><td><%=@asset[:project]%></td>
        <th>Donor:&nbsp;</th><td><%=@asset[:donor]%></td>
      </tr>
      <tr>
        <th>Supplier:&nbsp;</th><td><%=@asset[:supplier]%></td>
        <th>Receipt date:&nbsp;</th><td><%=@asset[:date_of_receipt]%></td>
      </tr>
    </table>

    <hr />

    <table class="xool_information">
      <tr>
        <td style="font-weight:bold;">Order/Invoice number:&nbsp;</td><td><%=@asset[:order_number]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Purchased date&nbsp;</td><td><%=@asset[:purchased_date]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Cost:&nbsp;</td><td><%=@asset[:cost]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Bought in quantity:&nbsp;</td><td><%=@asset[:bought_quantity]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Current quantity:&nbsp;</td><td><%=@asset[:current_quantity]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Delivered by:&nbsp;</td><td><%=@asset[:delivered_by]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Status on delivery&nbsp;</td><td><%=@asset[:status_on_delivery]%></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Current state&nbsp;</td>
        <td>
           <%@status.unshift(@asset[:current_state]) %>                          
              <%= select_tag "asset[status]", options_for_select(@status),
              :placeholder => "Delivery status" %>                                  
      </td> 
        </td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Location&nbsp;</td><td><%=@asset[:location]%></td>
      </tr>                     
    </table>                                                                     


  </div>
  
  </div>

  <div class="admin-buttons">
    <%if admin? %>                                                          
    <table>
      <tr> 
        <td><a href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Dispatch</a></td>
        <td><a href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Receive</a></td>
        <td><a href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Transfer</a></td>
      </tr> 
      <tr>
        <td><a href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Reimburse</a></td>
        <td><a href="<%=edit_asset_url(:id => @asset[:asset_id])%>">Edit</a></td>
        <td><a href="<%=delete_asset_url(:id => @asset[:asset_id])%>">Delete</a></td>                               
      </tr> 
    </table>
    <%end%>                                                                   
  </div>

