
<script>
  var tt_cancel_destination="/"

   function approvedBySuggestions() {                                    
    url = "/assets/find_by_approved_by?search_str=";                          
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);          
    listSuggestions(tstCurrentPage);                                            
  }



</script>
 
 <p></p>

<form method = "get" action = "init_dispatch">
  <%= text_field_tag "dispatch[date]", nil,                            
    {:id => "start_date",                                                   
    :field_type => 'date',
    :maxDate => "#{Date.today.to_date}",
    :helpText => "Dispatch date",
    :placeholder => "Dispatch date"} %>

  <%= label_tag("Destination location:") %>
  <%= select_tag "dispatch[site]", options_for_select(@sites), :helpText => "Dispatching to" %> 

  <%#=text_field(:dispatch, :approved_by ,:helpText => "Approved By") %>
  <%=text_field(:dispatch, :approved_by,
        #:tt_onLoad => 'approvedBySuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '/assets/people_by_name?search_str=',
        :helpText => "Approved By",
        :placeholder => "Approved By") %>
   
   <%#=text_field(:dispatch, :received_by ,:helpText => "Received By") %>   
   <%=text_field(:dispatch, :received_by,
        #:tt_onLoad => 'approvedBySuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '/assets/people_by_name?search_str=',
        :helpText => "Received By",
        :placeholder => "Received By") %>
</form>
