
<script>
  var tt_cancel_destination="/"

  function approvedBySuggestions() {
    url = "/assets/find_by_approved_by?search_str=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);          
    listSuggestions(tstCurrentPage);
  }


</script>

<p></p>

<form action = "/dispatch_receive/init_transfer" method="get">
  <%= text_field_tag "transfer[date]", nil,
    {:id => "start_date",
    :field_type => 'date',
    :maxDate => "#{Date.today.to_date}",
    :helpText => "Borrowing date"} %>

  <%= select_tag "transfer[donor_to]", options_for_select(@donors),
      :helpText => "Donor borrowing" %>

  <%= select_tag "transfer[project_to]", options_for_select(@projects),
      :helpText => "Project borrowing" %>

  <%#=text_field(:transfer, :approved_by ,:helpText => "Approved By") %>
  <%=text_field(:transfer, :approved_by,
       # :tt_onLoad => 'approvedBySuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '/assets/approved_by_name?search_str=',
        :helpText => "Approved By") %>

  <%= submit_tag value="Submit"%>

</form>
