<style>
  .dispatch_receive {
    width: 98%;
  }

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {
    background: none repeat scroll 0 0 rgb(255, 235, 144);
    height: auto;
    border: 1px dotted #696969;
  }

  #sub-content-view hr {
    margin-left: 12px;
    margin-right: 12px; 
    -moz-box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    /*margin: 0.5em auto;*/
  }


  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 11px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 11px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}
</style>


<script>                                                                        
tt_cancel_destination = '/asset_details/' + "<%=params[:id]%>";                 
</script>


    <%= form_tag :action => 'dispatch_asset', :method => :post  do %> 
    <table class="xool_information dispatch_receive">
      <tr>
        <td style="font-weight:bold;">Dispatch date&nbsp;</td>
        <td><%=text_field(:dispatch, :date, :field_type => 'date',
            :helpText => "Dispatch date") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Quantity:&nbsp;</td>
        <td><%=text_field(:dispatch, :quantity,:field_type => 'number',
        :helpText => "Quantity") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Status:&nbsp;</td>
        <td>
           <%= select_tag "dispatch[status]", options_for_select(@status),
             :helpText => "Select dispatch status" %>
        </td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Approved by:&nbsp;</td>
        <td><%=text_field(:dispatch, :approved_by, :helpText => "Approved by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Collected by:&nbsp;</td>
        <td><%=text_field(:dispatch, :collected_by, :helpText => "Collected by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Dispatch location:&nbsp;</td>
        <td>
          <%= select_tag "dispatch[location]", options_for_select(@location), 
              :helpText => "Select dispatch location" %>
        </td>
      </tr>                     
        <td>
          <%=text_area("dispatch[reason]",nil,
            :helpText =>"Dispatch reason") %>
        </td>
      </tr>                     
    </table>                                                                     
    <input type="hidden" name="id" value="<%=params[:id]%>" />
    <input type="hidden" name="dispatch_asset" value="<%=params[:id]%>" />
    <%end%>


