<style>
.main-table {
  width: 99%;
  margin: 10px;
  font-size: 16px;
  text-align: left;
}

.main-table th {
  font-weight: bold;
  text-align: left;
}

.left-div {
  float: left;
  background-color: white;
  width: 70%;
  height: 530px;
  overflow: auto;
}

.right-div {
  float: right;
  background-color: white;
  width: 28%;
}

.asset-div {
  background-color: white;
  height: 390px;
  overflow: auto;
}

.asset-table {
  margin: 10px;
  width: 99%;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}

#barcode {
  font-size: 20px;
  height: 70px;
  width: 500px;
}
</style>

<%= javascript_include_tag 'ToolKit/barcode' %>


<br />


<div class="left-div">

<table class="main-table">

<tr>
  <th>Transfer date</th>
  <td>
    <%=session[:assets_to_transfer][:transfer_date].to_date.strftime('%d %B, %Y')%>
  </td>
  <th>Approved By</th>
  <td>
    <%=session[:assets_to_transfer][:approved_by]%>
  </td>
</tr>

<tr>
  <th>To donor</th>
  <td>
    <%=Donor.find(session[:assets_to_transfer][:donor_to]).name%>
  </td>
  <th>To project</th>
  <td>
    <%=Project.find(session[:assets_to_transfer][:project_to]).name%>
  </td>
</tr>

</table>
<hr />

<div class="asset-div">
  <table class="asset-table">
   <%unless session[:assets_to_transfer][:assets].blank? %>
     <tr>
       <th>Asset</th>
       <th>Current project</th>
       <th>Current donor</th>
     </tr>
   <%end%>

   <%(session[:assets_to_transfer][:assets] || []).each do |asset_id| 
      asset = Item.find(asset_id)
   %>
    <tr>
      <td><%=asset.name%></td>
      <td><%=asset.project.name%></td>
      <td><%=asset.donor.name%></td>
    </tr>
    <%end%>
    <%if session[:assets_to_transfer][:assets].blank? %>
      <tr>
        <td colspan="2" style="text-align: center;">
          Select assets to transfer
        </td>
      </tr>
    <%end%>
  </table>
</div>


</div>

<div class="right-div">

<p>
  <a class="buttons" href="/asset_search?transfer=true">Add asset</a>
</p>

<p>&nbsp;</p>

<p>
  <%if session[:assets_to_transfer][:assets].blank? %>
    <a class="buttons" href="#">Transfer</a>
  <%else%>
    <a class="buttons" href="/create_batch_transfer">Transfer</a>
  <%end%>
</p>

</div>
