<style>
</style>

<script>                                                                        
tt_cancel_destination = '/asset_details/' + "<%=params[:id]%>";                 
</script>

    <%= form_tag :action => 'receive_asset', :method => :post  do %> 
    <table class="xool_information dispatch_receive">
      <tr>
        <td style="font-weight:bold;">Dispatch date&nbsp;</td>
        <td><%=text_field(:receive, :date, :field_type => 'date',
        :helpText => "Date received") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Quantity:&nbsp;</td>
        <td><%=text_field(:receive, :quantity, :field_type => 'number',
            :helpText => "Quantity") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Status:&nbsp;</td>
        <td>
           <%= select_tag "receive[status]", options_for_select(@status),
             :helpText => "Select receive status" %>
        </td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Approved by:&nbsp;</td>
        <td><%=text_field(:receive, :approved_by, :helpText => "Approved by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Collected by:&nbsp;</td>
        <td><%=text_field(:receive, :collected_by, :helpText => "Collected by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">location:&nbsp;</td>
        <td>
          <%= select_tag "receive[location]", options_for_select(@location), 
              :helpText => "Select location where asset is coming from" %>
        </td>
      </tr>                     
      <tr>                     
        <td colspan='2'><hr /></td>
      </tr>                     
      <tr>
        <td>&nbsp;</td>
        <td>
          <%=text_area("receive[reason]",nil,
            :helpText =>"Reason for returning asset",:rows => 5,:cols => 5) %>
        </td>
      </tr>                     
      <tr>                     
        <td colspan='2'><hr /></td>
      </tr>                     
    </table>                                                                     
    <input type="hidden" name="id" value="<%=params[:id]%>" />
    <input type="hidden" name="receive_asset" value="<%=params[:id]%>" />
    <%end%>
