<style>
  .dispatch_receive {
    width: 98%;
  }

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {
    background: none repeat scroll 0 0 rgb(255, 235, 144);
    height: auto;
    border: 1px dotted #696969;
  }

  #sub-content-view hr {
    margin-left: 12px;
    margin-right: 12px; 
    -moz-box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    /*margin: 0.5em auto;*/
  }


  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 11px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 11px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}
</style>

<%= stylesheet_link_tag "DatePicker/jsDatePick_ltr.min" %>                      
<%= javascript_include_tag "DatePicker/jsDatePick.min.1.3" %>                   
                                                                                
<script>                                                                        
 var currDate = new Date();                                                     
 var dateNow =  currDate.getDate();                                             
 var yrNow =  currDate.getFullYear();                                           
 var monthNow =  (currDate.getMonth() + 1);                                     
                                                                                
 function initDate(id){                                                          
    new JsDatePick({                                                            
      useMode:2,                                                                
      target: id ,                                                              
      dateFormat:"%d-%M-%Y",                                                    
      selectedDate:{                                                            
        day: dateNow,                                                           
        month: monthNow,                                                        
        year: yrNow                                                             
      },                                                                        
      yearsRange:[2000,yrNow],                                                  
      limitToToday: true,                                                       
      cellColorScheme:"beige",                                                  
      dateFormat:"%d-%m-%Y",                                                    
      imgPath:"img/",                                                           
      weekStartDay:1                                                            
    });                                                                         
  };                                                                            
      

  function submitForm() {                                                         
    if(validateForm())                                                            
      document.getElementsByTagName('form')[0].submit();                          
                                                                                
  } 

  function validateForm(){                                                        
    dispatch_date = document.getElementById('receive_date');                         
    quantity = document.getElementById('receive_quantity');                        
    dispatch_status = document.getElementById('receive_status');                             
    approved_by = document.getElementById('receive_approved_by');                            
    collected_by = document.getElementById('receive_collected_by');                               
    dispatch_location = document.getElementById('receive_location'); 

    if(dispatch_date.value == ''){
      alert('Please enter receiving date');
      return false;
    }else if(quantity.value == '') {
      alert('Please enter receiving quantity');
      return false;
    }else if(dispatch_status.value == 'Select receiving status') {
      alert('Please select receiving status');
      return false;
    }else if(approved_by.value == '') {
      alert('Please enter the name of person who approved');
      return false;
    }else if(collected_by.value == '') {
      alert('Please enter who collected the asset');
      return false;
    }else if(dispatch_location.value == 'Select location where asset is coming from') {
      alert('Please enter where the asset is being received from');
      return false;
    }

    return true;
  }


</script>


  <div class="page-header">                                                       
    <h1>asset <small>receive</small></h1>                                         
  </div> 

  <div class="well sidebar-nav">

    <div id = "sub-content-view">

    <table class = "demographics">
      <tr>
        <th>Name:&nbsp;</th>
        <td>
          <%= @asset[:name] %>&nbsp;
          <%= @asset[:category] %>
        </td>
        <th>Version:&nbsp;</th><td><%=@asset[:version]%></td>
      </tr>
        <th>Model:&nbsp;</td><td><%=@asset[:model]%></td>
        <th>Serial number:&nbsp;</th><td><%=@asset[:serial_number]%></td>
      </tr>
      <tr>
        <th>Project:&nbsp;</th><td><%=@asset[:project]%></td>
        <th>Donor:&nbsp;</th><td><%=@asset[:donor]%></td>
      </tr>
      <tr>
        <th>Supplier:&nbsp;</th><td><%=@asset[:supplier]%></td>
        <th>Receipt date:&nbsp;</th><td><%=@asset[:date_of_receipt]%></td>
      </tr>
    </table>

    <hr />

    <%= form_tag :action => 'receive_asset', :method => :post  do %> 
    <table class="xool_information dispatch_receive">
      <tr>
        <td style="font-weight:bold;">Dispatch date&nbsp;</td>
        <td><%=text_field(:receive, :date, :placeholder => "Date received") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Quantity:&nbsp;</td>
        <td><%=text_field(:receive, :quantity, :placeholder => "Quantity") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Status:&nbsp;</td>
        <td>
           <%@status.unshift('Select receiving status') %>                          
           <%= select_tag "receive[status]", options_for_select(@status),
             :placeholder => "Select receive status" %>
        </td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Approved by:&nbsp;</td>
        <td><%=text_field(:receive, :approved_by, :placeholder => "Approved by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">Collected by:&nbsp;</td>
        <td><%=text_field(:receive, :collected_by, :placeholder => "Collected by") %></td>
      </tr>                     
      <tr>
        <td style="font-weight:bold;">location:&nbsp;</td>
        <td>
          <%@location.unshift('Select location where asset is coming from') %>                    
          <%= select_tag "receive[location]", options_for_select(@location), 
              :placeholder => "Select location where asset is coming from" %>
        </td>
      </tr>                     
      <tr>                     
        <td colspan='2'><hr /></td>
      </tr>                     
      <tr>
        <td>&nbsp;</td>
        <td>
          <%=text_area("receive[reason]",nil,
            :placeholder =>"Reason for returning asset",:rows => 5,:cols => 5) %>
        </td>
      </tr>                     
      <tr>                     
        <td colspan='2'><hr /></td>
      </tr>                     
      <tr>                     
        <td colspan="2">
          <input onclick="submitForm();" type="button" id="signup"                
            class="btn btn-primary signup_btn" value="Receive" style="width:100%;" />
        </td>
      </tr>                     
    </table>                                                                     
    <input type="hidden" name="id" value="<%=params[:id]%>" />
    <input type="hidden" name="receive_asset" value="<%=params[:id]%>" />
    <%end%>

  </div>
  
  <div style="padding-top:10px;float:right;">
    <table>
      <tr>
        <td><a href="<%= assets_to_url(:id => 'receive')%>">Cancel</a></td>                    
      </tr> 
    </table>
  </div>

  </div>

 <script>
   initDate('receive_date');
 </script>
