<%=javascript_include_tag "prototype"%>                                         
<%=javascript_include_tag "jquery_data_table" %>                                
<%=javascript_include_tag "jquery.dataTables.min" %>                            
                                                                                
<%= stylesheet_link_tag "demo_table" %>                                         
<%= stylesheet_link_tag "demo_table_jui" %>                                     
<%= stylesheet_link_tag "demo_page" %>

<style>
                                                                                
</style>

<script>

  function dataT(){                                                               
    $('#search_results').dataTable();                                                  
  }

  function findStudents() {                                                       
    var search_str = document.getElementById('search_words').value;               
                                                                                
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
        xmlhttp=new XMLHttpRequest();                                             
      }else{// code for IE6, IE5                                                  
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
      }                                                                           
      xmlhttp.onreadystatechange=function() {                                     
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
          var results = xmlhttp.responseText;                                     
          if(results == 'undefined' || results == '' || results == '"not validate"') {                           
            return;                                                               
          }else{                                                                  
            document.getElementById('results-cont').innerHTML = results;                                                           
            dataT();                                                              
          }                                                                       
        }                                                                         
      }                                                                           
      xmlhttp.open("GET","/assets/live_search?search_str="+search_str,true);           
      xmlhttp.send();                                                             
    } 
 
</script>


<div class="page-header">
  <h1>transfer <small>transferred asset(s)</small></h1>
</div>

 <div>                                                                         
    <%if flash[:notice]%>                                                       
      <font id="flash_notice" style="color: green;"><%= flash[:notice] %></font><br />
    <%elsif flash[:error]%>                                                     
      <font id="flash_notice" style="color: red;"><%= flash[:notice] %></font><br />
    <%end%>                                                                     
 </div>

<section id='modals'>                                              
  <table id="search_results" class="table table-striped table-bordered table-condensed">
  <thead>                                                                       
  <tr id = 'table_head'>                                                        
    <th id="th1" style="width:20%;">Asset</th>                           
    <th id="th2" style="width:20%;">Donor(from)</th>                           
    <th id="th2" style="width:20%;">Project(from)</th>                           
    <th id="th2" style="width:20%;">Donor(To)</th>                           
    <th id="th2" style="width:20%;">Project(To)</th>                           
  </tr>                                                                         
  </thead>                                                                      
  <tbody id='results'>                                                          
    <%(@results || []).each do |result,values| %>                                    
    <tr>                                                                        
      <td><%=values[:name]%></td>                                            
      <td><%=values[:donor_from]%></td>                                            
      <td><%=values[:project_from]%></td>                                            
      <td><%=values[:donor_to]%></td>                                            
      <td><%=values[:project_to]%></td>                                            
    </tr>                                                                       
    <%end%>                                                                     
  </tbody>                                                                      
  </table>
</section> 


<script>                                                                        
  dataT();                                                                      
</script>
