<style>
  #search_results {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
 
                                                                           
</style>

<script>

</script>


 <div>                                                                         
    <%if flash[:notice]%>                                                       
      <font id="flash_notice" style="color: green;"><%= flash[:notice] %></font><br />
    <%elsif flash[:error]%>                                                     
      <font id="flash_notice" style="color: red;"><%= flash[:notice] %></font><br />
    <%end%>                                                                     
 </div>

<section id='modals'>                                              
  <table id="search_results" class="table table-striped table-bordered table-condensed">
  <thead>                                                                       
  <tr id = 'table_head'>                                                        
    <th id="th1" style="width:20%;">Asset</th>                           
    <th id="th2" style="width:20%;">Donor(from)</th>                           
    <th id="th2" style="width:20%;">Project(from)</th>                           
    <th id="th2" style="width:20%;">Donor(To)</th>                           
    <th id="th2" style="width:20%;">Project(To)</th>                           
  </tr>                                                                         
  </thead>                                                                      
  <tbody id='results'>                                                          
    <%(@results || []).each do |result,values| %>                                    
    <tr>                                                                        
      <td><%=values[:name]%></td>                                            
      <td><%=values[:donor_from]%></td>                                            
      <td><%=values[:project_from]%></td>                                            
      <td><%=values[:donor_to]%></td>                                            
      <td><%=values[:project_to]%></td>                                            
    </tr>                                                                       
    <%end%>                                                                     
  </tbody>                                                                      
  </table>
</section> 

