
<div class="page-header">
  <h1>reports <small>....</small></h1>
</div>

<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "List of items bought in", '/items_bought_in', :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "List of dispatched assets", '/dispatched_assets' , :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Itemized list of stock balances per Donor/Site/project", '/stock_balances', 
      :class => 'buttons' %>
  </p>
  
  <p>                                                                           
    <%= link_to "Item(s) transferred between Donor/project", '/transfers', 
      :class => 'buttons' %>
  </p>
  
  <p>                                                                           
    <%= link_to "Advanced stock balances", '/advanced_stock_balances', 
      :class => 'buttons' %>
  </p>
  
</div> 
