<!DOCTYPE html>
<html lang="en"><head>
      <meta charset="utf-8">
      <title><%= app_name %></title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <%= stylesheet_link_tag "bootstrap" %>
      <%#= stylesheet_link_tag "bootstrap-ie6.less" %>
      <style>
        body{ padding-top: 60px; }
      </style>
      <!--[if IE 6]>    
        <link href="ie6.min.css" rel="stylesheet">
      <![endif]-->
    </head>
    <body>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/home"><%= app_name %></a>
            <div class="nav-collapse">
              <ul class="nav main-links">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/assets">assets</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/donors">donor</a></li>
                <li><a href="/suppliers">suppliers</a></li>
                <li><a href="/manufacturers">manufacturer</a></li>
                <li><a href="/dispatch_receive" id="dispatch_receive">dispatch/receive </a></li>
                <%unless admin?%>
                  <script>
                    document.getElementById("dispatch_receive").href = '#';
                    document.getElementById("dispatch_receive").style.color = "grey"
                  </script>
                <%end%>
                <li><a href="/reports">reports</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <%unless User.current_user.blank?%>
                          <li><a href="#"><%=User.current_user.username[0..14]%></a></li>
                        <%end%>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-search"></i>my account</a></li>
                        <li><a href="#"><i class="icon-search"></i>add users</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/logout"><i class="icon-search"></i>Logout</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">  
      <section id="modals">
        <%= yield %>
      </section>
      </div>

        <%= javascript_include_tag "jquery-1.7.1.min" %>
        <%= javascript_include_tag "bootstrap" %>
        <%= javascript_include_tag "dropdown" %>
        <%= javascript_include_tag "placeholder" %>
        <%= javascript_include_tag "invoke_placeholder" %>
  </body>
</html>
