<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--script type="text/javascript" src="/javascripts/calendar.js"></script-->
    <script language="javascript">
      <%= javascript_include_tag 'ToolKit/jquery' %>
      <%#= javascript_include_tag 'ToolKit/jquery_data_table' %>
      <%= javascript_include_tag 'ToolKit/barcode' %>
      <%= stylesheet_link_tag 'jquery.dataTables' %>
      <!--

        var closeOnExit = true;

        function __$(id){
          return document.getElementById(id);
        }

        function ajaxRequest(control, url){
           var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function() {
                handleAjaxRequest(control, httpRequest);
            };
            try {
                httpRequest.open('GET', url, true);
                httpRequest.send(null);
            } catch(e){
            }
        }

        function handleAjaxRequest(control, aXMLHttpRequest) {
          if (!aXMLHttpRequest) return;

          if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {

              var result = aXMLHttpRequest.responseText;

              if (control != null){
                control.innerHTML = result;
              } else {
                eval(result);

                window.location.reload();
              }
          }

        }

        function openPopUp(url){
          if(window.opener){

            closeOnExit = false;

            window.location = url;

          } else {

            <% if @mode == 'landing' %>

              currentpopup = window.open(url,'winname',
                'directories=no,titlebar=no,toolbar=no,location=no,' +
                'status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=550');

            <% else %>

              window.location = url;

            <% end %>

          }
        }

        function refreshParent(){
          return;
          if(closeOnExit){
            if(window.opener != null){
              window.opener.location.reload();

              window.close();
            }
          }
        }

        function showMsg(msg){
          alert(msg);
        }

      //-->
    </script>
    <style type="text/css">
      .button {
          height: 30px;
          margin: 5px;
          cursor: pointer;
          font-size: 14px;
          font-weight: 300;
          min-width: 30px;
          vertical-align: middle;
          text-align: center;
      }

      .button.blue {
          color: #fff;
          -moz-transition: none 0s ease 0s;
          border: 0 none;
          border-radius: 10px;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
          color: #FFFFFF;
          padding: 1px 5px;
          background-color: #006DCC;
          background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
          background-repeat: repeat-x;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }

      .button.blue:hover {
          color: #ffffee;
          background-color: #006DCC;
          background-image: -moz-linear-gradient(center top , #0088EE, #0044EE);
          background-repeat: repeat-x;
      }

      .button.blue:active {
          -moz-user-select:none;
          -moz-user-focus:disabled;
          color: #ffffcc;
          background-color: #006DCC;
          background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
          background-repeat: repeat-x;
          border: 1px inset #000;
          margin-left: 4px;
          margin-right: 4px;
      }

      div {
        -moz-user-select: none;
      }
      .mw{
        position: absolute;
        top: 2%;
        height: 100px;
      }

      #barcode {
        height: 70px;
        width: 500px;
        font-size: 20px;
      }

      .buttons {
    border-bottom: 1px outset #EEEEEE;
    border-style: outset;
    border-top: 1px outset #EEEEEE;
    color: white;
    display: block;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    border-radius:42px;
    border:1px solid #84bbf3;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
    font-weight:bold;
  }
    </style>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render  :partial =>  "/layouts/top" %>
    <div id="container" style="width: 100%; overflow: auto; height: 540px;">
      <%= yield %>
    </div>
    <div id="nav" style="width: 100%; height: 90px; border-top: 1px solid #5496ef;
        left: 0px; position: absolute; bottom: 0px;">
      <%= image_tag("Log-Out-icon.png" ,:height => "65",:style =>"margin-right: 20px;
                margin-top: 10px; cursor: pointer; float: right;",:onclick =>"window.location='/login'")%>
    </div>
  </body>
</html>

